/**
 * @name Decayce
 * @author HackOS#9518 Pan!cKk#0709
 * @version 1.0.0
 * @description Port of Decay color scheme for Discord to make it more eye friendly! Supports both Dark and Light themes. - Inspired by MinimalCord by Gibbu#1211. */

/* -- Imported Fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

/* -- Root / Global variables -- */
:root {
    /*
        Accent variable
        Use this website: https://htmlcolorcodes.com/color-picker/
        to get your desired RGB numbers. Then simply put each number in their respective area.
        R,G,B
    */
    --accent: 112, 165, 235;

    --message-padding: 10px; /* Spacing in the messages. MUST END IN px | DEFAULT: 10px */
    --message-spacing: 10px; /* Spacing around the messages. MUST END IN px | DEFAULT: 10px */

    /*
        To use a custom font. Visit https://fonts.google.com and select one to your liking.
        Now just follow this tutorial: https://imgur.com/a/CNbw7xC
    */
    --font: 'Fredoka';


  --border-radius: 5px;
  --font-primary: var(--font);
  --font-display: var(--font);
  --discord-green: 120 219 169; /* Decay Green */
  --discord-yellow: 241 207 138; /* Decay Yellow(Orange) */
  --discord-red: 224 95 101; /* Decay Red */
  --discord-purple: 168 138 238; /* Decay Purple(Magenta)*/
  --discord-invisible: 117 128 142;
  --discord-nitro: 255 115 250;
  --discord-blurple: 112 165 235; /* Decay Blue */
  --discord-spotify: 29 185 84;
  --discord-twitch: 89 54 149;
  --discord-xbox: 16 124 16;
  --background-modifier-selected: var(--background-light);
  --background-modifier-active: var(--background-light);
  --background-modifier-hover: var(--background-light);
  --channels-default: var(--text-normal);
  --decay-version: "1.0.0";
}

/* -- Variables for Light Theme -- */
.theme-light,
html.theme-light #app-mount .theme-light .root-1gCeng,
html.theme-light .force-theme.theme-light {
  --light-bg-h: var(--light-bg-hue, 218);
  --light-bg-s: var(--light-bg-saturation, 14%);
  --light-bg-l: var(--light-bg-lightness, 89%);
  --background-light: hsl(var(--light-bg-h) var(--light-bg-s) var(--light-bg-l));
  --background-light-alt: hsl(var(--light-bg-h) var(--light-bg-s) var(--light-bg-l));
  --background: hsl(var(--light-bg-h) var(--light-bg-s) calc(var(--light-bg-l) - 7%));
  --background-alt: hsl(var(--light-bg-h) var(--light-bg-s) calc(var(--light-bg-l) - 3.5%));
  --background-dark: hsl(var(--light-bg-h) var(--light-bg-s) calc(var(--light-bg-l) - 7%));
  --text-normal: #1c252c;
  --text-muted: #384148;
  --text-focus: #171a1f;
  --font-weight-light: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 700;
  --box-shadow: 0 4px 9px rgba(0 0 0 / 0.2);
  --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.1);
  --scrollbar-colour: rgba(0 0 0 / 0.2);
  --edit-message-box: var(--background-alt);
  --message-background: var(--background-light);
  --background-mentioned: #e9a180aa;
}

/* -- Variables for Dark Theme -- */
.theme-dark,
html.theme-dark #app-mount .theme-light .root-1gCeng,
html.theme-dark .force-theme.theme-light {
  --dark-bg-h: var(--dark-bg-hue, 229);
  --background-light: #11131c;
  --background: #0D0F18;
  --background-alt: #0f111a;
  --background-dark: #0b0d16;
  --text-normal: hsl(var(--dark-bg-h) 10% 65%);
  --text-muted: hsl(var(--dark-bg-h) 10% 30%);
  --text-focus: #fff;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --box-shadow: 0 4px 9px rgba(0 0 0 / 0.4);
  --box-shadow-alt: 0 2px 5px rgba(0 0 0 / 0.3);
  --scrollbar-colour: var(--background-light);
  --edit-message-box: var(--background-light);
  --message-background: var(--background-alt);
  --header-primary: var(--text-focus);
}


/* -- Theme Description -- */
#app-mount .info-3pQQBb .line-18uChy:first-child:before {
  content: "Decayce " var(--decay-version);
  display: block;
}

/* -- Login Page -- */
#app-mount .wrapper-1f5byN .authBox-1HR6Ha {
  background: var(--background) !important;
}

/* -- Font -- */
::-webkit-input-placeholder, body, button, input, select, textarea {
  font-family: var(--font, "Fredoka"), "Whitney";
}

html, span:not([class*=spinner-]):not([class*=spinnerItem]) {
  -webkit-backface-visibility: hidden !important;
          backface-visibility: hidden !important;
}

/* -- Main Window Background -- */
#app-mount .bg-1QIAus {
  background: var(--background-dark);
}

/* -- Scroll Bar -- */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius) !important;
  border: none !important;
  background-clip: content-box !important;
  background: var(--scrollbar-colour) !important;
}

::-webkit-scrollbar-corner {
  visibility: hidden !important;
}

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track {
  display: none !important;
}

.scroller-WSmht3,
.scroller-305q3I {
  background: transparent;
}

/* -- Selection -- */
::-moz-selection {
  background: rgba(var(--accent), 1);
  color: #fff;
}

::selection {
  background: rgba(var(--accent), 1);
  color: #fff;
}

/* -- Library page -- */
#app-mount .container-36u7Lw .container-3u6dG- {
  background: var(--background);
}
.theme-light #app-mount .container-36u7Lw .container-3u6dG- {
  background: var(--background-light);
}

/* -- Nitro page -- */
#app-mount .applicationStore-2nk7Lo .scrollerBase-_bVAAt {
  background: var(--background);
}
.theme-light #app-mount .applicationStore-2nk7Lo .scrollerBase-_bVAAt {
  background: var(--background-light);
}

/* -- Servers -- */
#app-mount .guilds-2JjMmN {
  background: var(--background-dark);
}
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
  background: var(--background-dark);
}

/* Server Folders */
#app-mount .closedFolderIconWrapper-3tRb2d, .expandedFolderBackground-1kSAf6 {
  background: var(--background-light);
}
#app-mount .expandedFolderBackground-1kSAf6 {
  z-index: -1;
}
#app-mount .folder-241Joy {
  background: var(--background-light);
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt::-webkit-scrollbar {
  display: none;
}

#app-mount .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
  background: rgb(var(--accent), 1);
}
#app-mount .childWrapper-1j_1ub {
  background: var(--background-light);
}
#app-mount .circleIconButton-1VxDrg {
  background: var(--background-light);
}
#app-mount .circleIconButton-1VxDrg:hover, #app-mount .circleIconButton-1VxDrg.selected-2r1Hvo {
  background: rgb(var(--discord-green)/1);
}

/* -- Sidebar / Server content -- */
#app-mount .container-1NXEtd,
#app-mount .sidebar-1tnWFu {
  background: var(--background);
  border-radius: 5px 0 0 5px;
}
.theme-light, #app-mount .container-1NXEtd,
#app-mount .sidebar-1tnWFu {
  background: var(--background-alt);}

#app-mount .panels-3wFtMD {
  background: var(--background-dark);
  border-radius: 0 5px 0 0;
}
#app-mount .container-1zzFcN {
  border: none;
}

#app-mount .wrapper-NhbLHG {
  height: auto;
  margin-bottom: 2px;
}
#app-mount .wrapper-NhbLHG.modeMuted-2T4MDZ .name-28HaxV {
  color: var(--text-muted);
}
#app-mount .wrapper-NhbLHG.modeUnread-3Cxepe .icon-2W8DHg {
  color: var(--text-focus);
}
#app-mount .wrapper-NhbLHG.modeSelected-3DmyhH .icon-2W8DHg {
  color: var(--text-focus);
}
#app-mount .wrapper-NhbLHG.modeSelected-3DmyhH:before {
  content: "";
  position: absolute;
  top: 1px;
  height: calc(100% - 2px);
  width: 4px;
  background: rgb(var(--accent), 1);
  z-index: 1;
}
#app-mount .content-1gYQeQ {
  margin-left: 0;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-left: 16px;
}
#app-mount .unread-36eUEm {
  z-index: 2;
}
#app-mount .avatarSpeaking-2pCGrZ {
  box-shadow: inset 0 0 0 2px rgba(var(--accent), 1), inset 0 0 0 3px var(--background);
}

#app-mount .selected-1GtAC5 .header-3OsQeK {
  background: transparent;
}
#app-mount .header-3OsQeK {
  box-shadow: none;
}
#app-mount .header-3OsQeK:hover {
  background: transparent;
}

#app-mount .sidebar-1tnWFu .bar-2eAyLE {
  border-radius: var(--border-radius);
  background: var(--background-light);
  box-shadow: var(--box-shadow);
  color: var(--text-normal);
}

/* - Server Settings */
#app-mount .sidebarRegion-1VBisG{
  background: var(--background-dark);
}

#app-mount .contentRegion-3HkfJJ {
  background: var(--background-alt);
  color: var(--text-normal);
}

#app-mount .select-1Ia3hD,
#app-mount .radioBar-3w9XY-,
#app-mount .imageUploaderInner-IIRaFr,
#app-mount .auditLog-1NVAY0,
#app-mount .analyticsCard-2fnrVG,
#app-mount .developerPortalCtaWrapper-2PniQs,
#app-mount .tierBody-1d3UiS {
  background: var(--background-light);
}

#app-mount .tierHeaderContent-2SPBAA {
  background: var(--background-dark);
}

/* Muted Chats */
#app-mount .container-32HW5s .muted-3KGUWb .layout-1LjVue, .container-32HW5s .muted-3KGUWb .layout-1LjVue .content-66wMin{
  background: var(--background-light);
  color: var(--text-normal);
  padding: 2px 4px;
  border-radius: var(--border-radius);
}
.theme-light #app-mount .container-32HW5s .muted-3KGUWb .layout-1LjVue, .theme-light .container-32HW5s .muted-3KGUWb .layout-1LjVue .content-66wMin{
  background: var(--background-dark);
}
#app-mount .container-32HW5s .layout-1LjVue, .container-32HW5s .layout-1LjVue .muted-2El7St {
  margin: 5px 0 5px 10px;
}
#app-mount .container-32HW5s .muted-3KGUWb .layout-1LjVue.muted-2El7St {
  margin: 5px 0 5px 22.5px;
}
.theme-light #app-mount .container-3eG4QA, .header-2TLOnc {
  background: var(--background-dark);
  padding: 10px;
}

/* -- Header/Title -- */
#app-mount .title-3qD0b-,
#app-mount .container-ZMc96U {
  background: var(--background-dark);
  box-shadow: 0 5px 10px 2px var(--background-dark);
}

.theme-light #app-mount .title-3qD0b-,
#app-mount .container-ZMc96U {
  background: var(--background-alt);
}

#app-mount .children-3xh0VB:after {
  content: none;
}

/* -- Chat -- */
/* - Search - */
/* Search Bar */
#app-mount .searchBar-jGtisZ {
  background: var(--background-dark);
}
.theme-light, #app-mount .searchBar-jGtisZ {
  background: var(--background-light);
}

/* Search Content */
#app-mount .container-2McqkF {
  background: var(--background-alt);
  box-shadow: var(--box-shadow);
}
#app-mount .searchHeader-1r_ZSh {
  background: var(--background-light);
  box-shadow: var(--box-shadow-alt);
  border-radius: 0 0 0 5px;
}
#app-mount .searchHeader-1r_ZSh .item-3XjbnG.selected-g-kMVV {
  background: rgb(var(--accent));
}
#app-mount .channelName-3w2Y3c {
  background: var(--background-alt);
}
#app-mount .searchResultsWrap-5RVOkx {
  background: var(--background-alt);
  border-top-left-radius: var(--border-radius);
}
#app-mount .searchResult-O9NDji {
  border: none;
  background: var(--background-light);
}
#app-mount .searchResult-O9NDji .cozy-VmLDNB {
  margin: 0 !important;
}
#app-mount .searchResultMessage-1fxgXh .cozy-VmLDNB {
  margin: 0;
}
#app-mount .searchResultMessage-1fxgXh:not(.hit-1fVM9e) .cozy-VmLDNB:before {
  content: none;
}
#app-mount .searchResultMessage-1fxgXh.hit-1fVM9e {
  box-shadow: 0 0 10px 6px var(--background-alt);
  border: none;
  border-radius: var(--border-radius);
}
#app-mount .searchResultMessage-1fxgXh.hit-1fVM9e .cozy-VmLDNB {
  background: var(--background-light);
}
#app-mount .container-2McqkF .queryContainer-ZunrLZ.focused-2FU0YH{
  background: var(--background-light);
}
#app-mount .option-ayUoaq:after {
  background: linear-gradient(90deg, transparent, var(--background-alt));
}
#app-mount .option-ayUoaq:hover {
  background: var(--background-light);
}
#app-mount .searchResultsWrap-5RVOkx span.highlight {
  background: rgba(255, 200, 128, 0.2);
  color: var(--text-focus);
  padding: 2.5px 5px;
  border-radius: var(--border-radius);
}
.theme-light #app-mount .searchResultsWrap-5RVOkx span.highlight {
  background: rgba(233, 169, 128, 0.5);
}
#app-mount .chat-2ZfjoI {
  background: var(--background-alt);
}
#app-mount .chat-2ZfjoI .scrollerSpacer-3AqkT9 {
  height: 25px;
}
#app-mount .chat-2ZfjoI .content-1jQy2l:before {
  content: none;
}
#app-mount .operations-3q3u6E > a {
  color: rgb(var(--accent), 1);
}

#app-mount .form-3gdLxP:before {
  content: none;
}
#app-mount .scrollableContainer-15eg7h {
  background: var(--background-alt);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
#app-mount .placeholder-1_mJY1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 12px;
}
#app-mount .placeholder-1_mJY1,
#app-mount .slateTextArea-27tjG0 {
  padding: 15px 15px 15px 0;
}
#app-mount .attachButton-_ACFSu {
  padding: 15px 16px;
  height: 52px;
}
#app-mount .buttons-uaqb-5 {
  height: 52px;
}
#app-mount .wrapper-2SplAX {
  background: var(--background-light);
}
#app-mount .channelTextArea-1FufC0 {
  background: var(--background-alt);
}

#app-mount .message-2CShn3 .scrollableContainer-15eg7h {
  background: var(--edit-message-box);
  box-shadow: none;
}
#app-mount .message-2CShn3 .scrollableContainer-15eg7h .slateTextArea-27tjG0 {
  padding-left: 15px;
}

/* - Messages - */
#app-mount .message-2CShn3 .wrapper-2vIMkT {
  background: var(--background-dark);
  box-shadow: var(--box-shadow-alt);
}
.theme-light #app-mount .message-2CShn3 .wrapper-2vIMkT {
  background: var(--background-dark);
  box-shadow: var(--box-shadow-alt);
}

#app-mount .message-2CShn3 .button-3bklZh {
  height: 100%;
  padding: 0 6px;
}
#app-mount .message-2CShn3 .button-3bklZh:hover {
  background: rgba(var(--accent), 1);
  color: #fff;
}
#app-mount .message-2CShn3 .button-3bklZh.dangerous-Y36ifs:hover {
  background: rgba(var(--discord-red)/1);
}

/* - Message - */
#app-mount .cozy-VmLDNB {
  background: transparent;
  padding-top: var(--message-padding);
  padding-bottom: var(--message-padding);
  padding-left: 0;
  margin-left: 16px;
  margin-right: 8px;
  position: relative;
}
#app-mount .cozy-VmLDNB:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--message-border-radius, var(--border-radius));
  background: var(--background-light);
  z-index: -1;
}
#app-mount .cozy-VmLDNB.hasThread-3h-KJV::after {
  left: 1.8rem;
  top: 3.5rem;
  width: 1.5rem;
}

#app-mount .cozy-VmLDNB .contents-2MsGLg,
#app-mount .cozy-VmLDNB .container-2sjPya {
  margin-left: calc(40px + var(--message-padding) * 2);
}
#app-mount .cozy-VmLDNB .avatar-2e8lTP {
  left: var(--message-padding);
  top: var(--message-padding);
  margin-top: 0;
}
#app-mount .cozy-VmLDNB.groupStart-3Mlgv1 {
  margin-top: var(--message-spacing);
}
#app-mount .cozy-VmLDNB.cozy-VmLDNB:not(.groupStart-3Mlgv1) {
  margin-top: calc(var(--message-padding) / -1);
  padding-top: 0.175rem;
}
#app-mount .cozy-VmLDNB .messageContent-2t3eCI {
  margin-left: -5px;
  padding-left: 5px;
}
#app-mount .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
  width: calc(40px + var(--message-padding));
  display: flex;
  justify-content: center;
}

/* - Attachments / Embeds / Codes - */
#app-mount .wrapper-3HVHpV {
  background: transparent;
}
#app-mount .wrapper-15CKyy {
  background: transparent;
  padding-top: var(--message-padding);
  padding-bottom: var(--message-padding);
  padding-left: 0;
  margin-left: 16px;
  margin-right: 8px;
  position: relative;
}
#app-mount .wrapper-15CKyy:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--message-border-radius, var(--border-radius));
  background: var(--background-alt);
  z-index: -1;
}
#app-mount .wrapper-15CKyy .contents-1UYEBX,
#app-mount .wrapper-15CKyy .attachmentContainer-1zVy8E {
  padding-left: calc(40px + var(--message-padding) * 2);
}
#app-mount .wrapper-15CKyy .avatar-2e8lTP {
  left: var(--message-padding);
  top: var(--message-padding);
  margin-top: 0;
}
#app-mount .wrapper-15CKyy[style*=margin-top] {
  margin-top: var(--message-spacing) !important;
}
#app-mount .wrapper-15CKyy + .wrapper-15CKyy:not([style*=margin-top]) {
  margin-top: calc(var(--message-padding) / -1);
  padding-top: 0.175rem;
}
#app-mount .embedFull-1HGV2S {
  background: var(--background);
}

#app-mount .attachment-1PZZB2,
#app-mount .wrapperAudio-1Bzv_Z {
  background: var(--background);
  border-radius: var(--border-radius);
  border: none;
}
#app-mount .textContainer-36wgKK {
  border: none;
  background: var(--background-dark);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#app-mount .layer-1Ixpg3 .focusLock-2tveLW .zoomedCarouselModalRoot-1tAxiu {
  background: transparent;
}

#app-mount .footer-GXWBBp {
  background: var(--background);
  border: none;
}
#app-mount pre code,
#app-mount code.inline {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  border: none;
  padding: 5px;
}
#app-mount .reaction-3vwAF2 {
  background: var(--background);
}
#app-mount .reaction-3vwAF2.reactionMe-1PwQAc {
  background: rgba(var(--accent), 0.2);
  border-color: rgba(var(--accent), 1);
}
#app-mount .reaction-3vwAF2.reactionMe-1PwQAc .reactionCount-26U4As {
  color: rgba(var(--accent), 1);
}

/* Spoiler Text */
#app-mount .spoilerText-27bIiA.hidden-3B-Rum {
  border-radius: var(--border-radius);
  background: var(--background-light);
}
#app-mount .spoilerText-27bIiA .inlineContent-2YnoDy {
  background: var(--background-light);
  padding: 5px;
  border: 3px;;
}
.theme-light, #app-mount .spoilerText-27bIiA.hidden-3B-Rum {
  background: var(--background-alt);
}
.theme-light, #app-mount .spoilerText-27bIiA .inlineContent-2YnoDy {
  background: var(--background-alt);
}

/* Invites */
#app-mount .chat-2ZfjoI .wrapper-1HIH0j {
  background: var(--background-alt);
}
.theme-light #app-mount .chat-2ZfjoI .wrapper-1HIH0j {
  background: var(--background-dark);
}

/* - Mentions - */
#app-mount .wrapper-1ZcZW- {
  background: rgba(var(--accent), 0.5);
  color: var(--text-focus);
}
.theme-light, #app-mount .wrapper-1ZcZW- {
  background: rgba(140, 193, 255, 0.5);
}
#app-mount .wrapper-1ZcZW-:hover, #app-mount .wrapper-1ZcZW-.popout-open {
  background: rgba(var(--accent), 1);
  color: #fff;
}

#app-mount .cozy-VmLDNB.mentioned-Tre-dv .container-2sjPya {
  position: relative;
}
#app-mount .cozy-VmLDNB.mentioned-Tre-dv .messageContent-2t3eCI {
  position: relative;
}
#app-mount .cozy-VmLDNB.mentioned-Tre-dv .messageContent-2t3eCI:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 2.5px 2.5px 0;
  height: 100%;
  width: calc(100% - var(--message-padding));
  border-left: 2px solid rgba(var(--discord-yellow)/1);
  pointer-events: none;
}
.theme-light #app-mount .cozy-VmLDNB.mentioned-Tre-dv .messageContent-2t3eCI:after {
  border-left: 2px solid rgba(255, 150, 130,1)
}

#app-mount .cozy-VmLDNB.mentioned-Tre-dv .messageContent-2t3eCI:not(.repliedTextContent-1R3vnK) {
  color: var(--text-focus);
}

#app-mount .cozy-VmLDNB.mentioned-Tre-dv .container-2sjPya:before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: -5px;
  height: 100%;
  width: calc(100% - var(--message-padding) + 5px);
  border-left: 2px solid rgba(var(--discord-yellow)/1);
  border-radius: 0 0 var(--border-radius) 0;
}
#app-mount .container-3XgAHv .chat-1-OBC7 .cozy-VmLDNB.cozy-VmLDNB.mentioned-Tre-dv,
#app-mount .container-3XgAHv .chat-1rZYgu .cozy-VmLDNB.cozy-VmLDNB.mentioned-Tre-dv {
  z-index: -1;
}
#app-mount .cozy-VmLDNB.mentioned-Tre-dv .messageContent-2t3eCI:after {
  background: rgba(255, 200, 128, 0.2);
  z-index: -1;
}
.theme-light #app-mount .cozy-VmLDNB.mentioned-Tre-dv .messageContent-2t3eCI:after {
  background: rgba(233, 169, 128, 0.5);
}

/* - Replies - */
#app-mount .cozy-VmLDNB .repliedMessage-3Z6XBG {
  margin-left: calc(var(--message-padding) + 56px);
  padding: 2.5px 10px 2.5px 10px;
  border-radius: var(--border-radius);
}
#app-mount .cozy-VmLDNB .repliedMessage-3Z6XBG + .contents-2MsGLg .avatar-2e8lTP, #app-mount .cozy-VmLDNB .repliedMessage-3Z6XBG + .contents-2MsGLg img {
  top: 32px;
}
#app-mount .cozy-VmLDNB .repliedMessage-3Z6XBG:before {
  border-color: var(--text-muted);
}
#app-mount .cozy-VmLDNB .repliedTextPreview-1bvxun {
  margin: 2px;
  padding: 2px 5px;
}
#app-mount .cozy-VmLDNB .repliedTextPreview-1bvxun .messageContent-2t3eCI {
  padding: 0 5px 0 5px;
  margin: 0 5px;
  /* border-radius: var(--border-radius); */
}
#app-mount .cozy-VmLDNB .repliedTextPreview-1bvxun .messageContent-2t3eCI::after {
  left: 0;
  width: 100%;
}

#app-mount .cozy-VmLDNB .repliedMessage-3Z6XBG {
  background: var(--background-alt);
}
#app-mount .cozy-VmLDNB .repliedTextPreview-1bvxun .messageContent-2t3eCI {
  background: var(--background-light);
  border-radius: var(--border-radius);
}
.theme-light, #app-mount .cozy-VmLDNB .repliedTextPreview-1bvxun .messageContent-2t3eCI {
  background: var(--background-light);
  border-radius: var(--border-radius);
}

#app-mount .clipContainer-31nYlH {
  background: var(--background-alt);
}

#app-mount .replyBar-1oi75v {
  background: var(--background-light);
  border: none;
}

/* -- Threads -- */
/* Threads on Sidebar */
#app-mount .wrapper-NhbLHG.typeThread-2Aqh6X .content-1gYQeQ {
  padding-left: 42px;
  background: var(--background);
  margin: 0 0 0 10px;
  border-radius: var(--border-radius);
}

.theme-dark #app-mount .wrapper-NhbLHG.typeThread-2Aqh6X .content-1gYQeQ {
  background: var(--background-light);
}
.theme-light #app-mount .wrapper-NhbLHG.typeThread-2Aqh6X .content-1gYQeQ {
  background: var(--background-dark);
}
#app-mount .spine-29OFwR {
  z-index: 1;
  color: var(--background-light);
}
.theme-dark #app-mount .spine-29OFwR {
  color: var(--background-alt);
}

/* Thread Panel */
#app-mount .container-3XgAHv {
  background: var(--background-light);
  border-radius: var(--border-radius);
  min-width: 35% !important;
}
#app-mount .container-3XgAHv .chat-1-OBC7, .chat-1rZYgu {
  background: var(--background-alt);
}
#app-mount .container-3XgAHv .chat-1-OBC7 .cozyMessage-1DWF9U, .chat-1rZYgu {
  border-radius: 5px;
}
.theme-light #app-mount .container-3XgAHv {
  background: var(--background-dark);
}
.theme-light #app-mount .container-3XgAHv .chat-1rZYgu {
  background: var(--background-dark);
}
.theme-light #app-mount .container-3XgAHv .chat-1rZYgu .inputDefault-3FGxgL {
  background: var(--background-light);
}
.theme-light, #app-mount .container-3XgAHv .chat-1-OBC7 .cozyMessage-1DWF9U {
  background: var(--background-light);
}
#app-mount .chat-3JZdy8::before {
  content: none;
}

#app-mount .threadSuggestionBar-3ExSyc {
  background: var(--background-alt);
  padding-bottom: 5px;
}

/* -- Server Members -- */
#app-mount .container-2o3qEW,
#app-mount .members-3WRCEx,
#app-mount .members-3WRCEx > div {
  background: transparent;
  width: 250px;
}
#app-mount .member-2gU6Ar .botTagRegular-kpctgU {
  background: rgba(var(--accent), 1);
}

#app-mount .member-2gU6Ar {
  background-color: var(--background-alt);
  margin: 5px 0 5px 5px;
  padding-left: 5px;
}

#app-mount .member-2gU6Ar:hover .layout-1qmrhw {
  background: var(--background-light);
}
#app-mount .member-2gU6Ar:active .layout-1qmrhw {
  background: var(--background-light);
}
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw {
  background: rgba(var(--accent), 1);
}
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw .roleColor-rz2vM0,
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw .activity-2EQDZv,
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw .premiumIcon-1rDbWQ,
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw .username-i5-wv- span {
  color: #fff !important;
}
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw rect[fill="#78dba9"],
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw rect[fill="#f1cf8a"],
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw rect[fill="#e05f65"] {
  fill: #fff;
}
#app-mount .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw .botTagRegular-kpctgU {
  background: #fff;
  color: rgba(var(--accent), 1);
}

#app-mount .userPopout-2j1gM4 {
  background: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
#app-mount .userPopout-2j1gM4 .avatar-3QF_VA {
  border-color: var(--background);
  background: var(--background);
}
#app-mount .userPopout-2j1gM4 .headerNormal-3Zn_yu {
  background: var(--background);
}
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF {
  background: var(--background);
}
#app-mount .userPopout-2j1gM4 .body-2wLx-E,
#app-mount .userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
  background: transparent;
}
#app-mount .userPopout-2j1gM4 .role-2TIOKu {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  line-height: normal;
}
#app-mount .userPopout-2j1gM4 .roleCircle-1EgnFN {
  filter: none;
}
#app-mount .userPopout-2j1gM4 .roleCircle-1EgnFN::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}
#app-mount .userPopout-2j1gM4 .note-Go5ZP2 {
  margin: 0;
}
#app-mount .userPopout-2j1gM4 .footer-3naVBw {
  background: transparent;
}
#app-mount .userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N:not(.bannerPremium-kkSkPv) {
  height: 120px;
  background: var(--user-background) center/cover;
}
#app-mount .userPopout-2j1gM4[style*="--user-background"] .avatarPositionNormal-2jWoC2 {
  top: 76px;
}


/* -- Extras -- */
/* - Auto Complete - */
/* Chat */
#app-mount .autocompleteRow-14iwvH[aria-selected="true"] .base-2v-uc0,
#app-mount .autocompleteRow-14iwvH .base-2v-uc0:hover {
  background: var(--background-alt);
}

/* - Tool Tips - */
#app-mount .tooltipGrey-lpLZjh {
  background: var(--background-light);
}
#app-mount .tooltipPrimary-3qLMbS {
  background: var(--background-light);
  box-shadow: var(--box-shadow);
}
#app-mount .tooltipPointer-3L49xb {
  border-top-color: var(--background-light);
}
#app-mount .tooltipContent-Nejnvh {
  color: var(--text-focus);
  font-weight: var(--font-weight-bold);
}
#app-mount .tooltipContent-Nejnvh .guildNameText-jBFbNC {
  color: var(--text-focus);
}
#app-mount .tooltipContent-Nejnvh .muteText-13RgwP {
  color: var(--text-normal);
}

#app-mount .hljs-comment {
  color: var(--text-muted);
}

#app-mount .divider-2rZFJK.isUnread-3Lojb- {
  margin: calc(var(--message-padding) / -1 + var(--message-padding) / 2) 8px var(--message-padding) calc(55px + var(--message-padding) * 2);
  height: 0;
  top: 0;
}
#app-mount .divider-2rZFJK.isUnread-3Lojb-.beforeGroup-1BvJAt {
  margin: var(--message-spacing) 8px var(--message-spacing) 20px;
}
#app-mount .divider-2rZFJK.hasContent-31hcsn {
  margin: calc(var(--message-spacing) * 2) 0 calc(var(--message-spacing) * 2) 20px;
}
#app-mount .divider-2rZFJK.hasContent-31hcsn .content-3spvdd {
  background: var(--background-light);
  padding: 4px 8px;
  line-height: normal;
  font-weight: var(--font-weight-semibold);
  border-radius: var(--border-radius);
  color: var(--text-normal);
}
#app-mount .divider-2rZFJK.hasContent-31hcsn:not(.isUnread-3Lojb-) {
  border-top: none;
  height: auto;
}
#app-mount .divider-2rZFJK.hasContent-31hcsn:not(.isUnread-3Lojb-):before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: var(--background-light);
  height: 1px;
  z-index: -1;
}

#app-mount .newMessagesBar-1hF-9G {
  background: rgba(var(--accent), 1);
  border-radius: var(--border-radius);
  top: 10px;
  left: 26px;
  right: 26px;
}
#app-mount .jumpToPresentBar-1cEnH0 {
  background: var(--background-light);
  opacity: 1;
  border-radius: var(--border-radius);
  left: auto;
  box-shadow: var(--box-shadow);
  bottom: 20px;
  padding-bottom: 0;
}
#app-mount .jumpToPresentBar-1cEnH0 .barButtonMain-3K-jeJ {
  display: none;
}
#app-mount .jumpToPresentBar-1cEnH0 .barButtonBase-Sk2mdB {
  padding: 10px;
  height: auto;
  line-height: normal;
  color: var(--text-normal);
}
#app-mount .jumpToPresentBar-1cEnH0 .spinner-3xAPm0 {
  padding-left: 12px;
}
#app-mount .attachedBars-2BCP3l {
  background: var(--background);
}
#app-mount .replyBar-1oi75v {
  background: var(--background-light);
}
#app-mount .threadSidebar-1o3BTy {
  background: var(--background);
}

#app-mount .container-3i3IzO {
  background: var(--background-alt);
}


.theme-light, .menu-1QACrS {
  background: var(--background-light);
}

#app-mount .menu-1QACrS {
  box-shadow: var(--box-shadow);
  background: var(--background-dark);
}
#app-mount .item-1OdjEX {
  line-height: normal;
}
#app-mount .item-1OdjEX:active, #app-mount .item-1OdjEX.focused-3qFvc8:not(.colorDanger-2qLCe1) {
  background: rgba(var(--accent), 1);
}
#app-mount .item-1OdjEX.colorPremium-p4p7qO {
  color: rgba(var(--discord-nitro)/1);
}
#app-mount .item-1OdjEX.colorPremium-p4p7qO.focused-3qFvc8 {
  color: #fff;
  background: rgba(var(--discord-nitro)/1);
}

#app-mount .messagesPopoutWrap-3zryHW {
  background: var(--background-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
#app-mount .header-1w9Q93 {
  background: var(--background-alt);
  box-shadow: var(--box-shadow);
  z-index: 2;
}
/* #app-mount .messageGroupWrapper-1jf_7C { */
/*   background: var(--background-alt); */
/*   border: none; */
/* } */
#app-mount .messageGroupWrapper-1jf_7C,
#app-mount .messageGroupCozy-3v_RqN {
  margin-left: -4px;
  padding-top: 12px;
  background: var(--background-alt);
}

#app-mount .container-iA3Qrz {
  margin: 20px 0;
}
#app-mount .channelHeader-DFRX8q {
  background: var(--background-light-alt);
  padding: 16px;
}
#app-mount .messageContainer-3VTXBC {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background: var(--background-alt);
}

#app-mount .contentWrapper-3vHNP2 {
  background: var(--background-light-alt);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
#app-mount .scroller-2MALzE::-webkit-scrollbar {
  display: none;
}
#app-mount .container-1SX9VC {
  background: var(--background);
  border: 1px solid var(--background);
  transition: border-color 0.15s ease;
}
#app-mount .container-1SX9VC:hover {
  border-color: var(--background-light);
}
#app-mount .container-1SX9VC:focus-within {
  border-color: rgba(var(--accent), 1);
}
#app-mount .wrapper-22rqw6 {
  background: var(--background);
}
#app-mount .list-3V14yy .listItems-6eZzQ1 {
  left: 0 !important;
}
#app-mount .list-3V14yy ul[role=row] {
  padding-left: 8px;
}
#app-mount .list-3V14yy .wrapper-1NNaWG {
  background: var(--background-light-alt);
  padding-left: 12px;
}
#app-mount .list-3V14yy .inspector-DFKXwB {
  background: var(--background-light);
}

#app-mount .autocomplete-3NRXG8 {
  background: var(--background-light);
  box-shadow: var(--box-shadow);
}
#app-mount .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
  background: var(--background-light);
}
#app-mount .selected-3H3-RC {
  background: var(--background-alt);
}

#app-mount .container-18GwIk {
  background: var(--background-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
#app-mount .header-3_zmOb {
  background: var(--background-alt);
}
#app-mount .container-2rzKKA {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  border: none;
}
#app-mount .container-2rzKKA:hover {
  background: var(--background);
}

#app-mount .privateChannels-oVe7HL {
  background: transparent;
}
#app-mount .channel-1Shao0 {
  margin-left: 0;
  border-radius: 0 4px 4px 0;
  padding: 0;
  margin-bottom: 3px;
}
#app-mount .channel-1Shao0 .layout-1LjVue {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-left: 16px;

}
#app-mount .channel-1Shao0 .selected-3veCBZ::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: rgba(var(--accent), 1);
}

#app-mount .container-2cd8Mz {
  background: var(--background);
}
#app-mount .container-2cd8Mz .title-338goq {
  margin: 20px;
}
#app-mount .tabBody-2dgbAs:before {
  content: none;
}
#app-mount .peopleListItem-u6dGxF {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  border: none;
  line-height: normal;
  margin: 0 20px 10px 20px;
  padding: 0 15px;
}
#app-mount .peopleListItem-u6dGxF:hover {
  background: var(--background-light);
}
#app-mount .peopleListItem-u6dGxF:hover .actionButton-3-B2x- {
  background: var(--background);
}
#app-mount .actionButton-3-B2x- {
  background: var(--background-dark);
}
#app-mount .scroller-hE2gWq {
  border: none;
  padding-left: 0;
}
#app-mount .container-1oAagU {
  background: var(--background);
}
#app-mount .nowPlayingColumn-1eCBCN {
  background: transparent;
}
#app-mount .nowPlayingScroller-12BxFW {
  padding: 20px;
}
#app-mount .header-13Cw0- {
  padding: 0 0 20px 0;
}
#app-mount .emptyCard-KDifrB {
  background: var(--background-alt);
  border-radius: var(--border-radius);
}
#app-mount .wrapper-2RrXDg {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  border: none;
}
#app-mount .wrapper-2RrXDg:hover {
  background: var(--background-light);
}
#app-mount .wrapper-2RrXDg:hover .inset-SbsSFp {
  background: var(--background-alt);
}
#app-mount .section-3G9aLW {
  background: var(--background-light);
}
#app-mount .inset-SbsSFp {
  background: var(--background);
}

#app-mount .perksModal-fSYqOq {
  background: var(--background);
}
#app-mount .ctaBar-2UsjF2 {
  background: var(--background-alt);
}
#app-mount .tierBody-16Chc9 {
  background: var(--background-alt);
}
#app-mount .tierHeaderLocked-1s2JJz {
  background: var(--background-light-alt);
}
#app-mount .perk-2WeBWW {
  background: var(--background-alt);
}

#app-mount .scroller-29cQFV {
  background: var(--background);
}
#app-mount .detailsBlock-FoDTGA {
  background: var(--background-alt);
}
#app-mount .feature-2IUcBI {
  background: var(--background-alt);
}

#app-mount .categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background: rgba(var(--accent), 1);
}
#app-mount .pageWrapper-2PwDoS {
  background: var(--background);
}
#app-mount .pageWrapper-2PwDoS .input-2g-os5 {
  background: #fff;
  border: none;
}
#app-mount .card-2TuZPZ {
  border-radius: var(--border-radius);
  background: var(--background-alt);
}
#app-mount .card-2TuZPZ foreignObject[mask="url(#svg-mask-squircle)"] {
  -webkit-mask: none;
          mask: none;
}
#app-mount .card-2TuZPZ:hover {
  background: var(--background-light-alt);
  box-shadow: var(--box-shadow);
}
#app-mount .card-2TuZPZ:hover .iconMask-2fMR98 {
  background: var(--background-light-alt);
}
#app-mount .iconMask-2fMR98 {
  border-radius: var(--border-radius);
  background: var(--background-alt);
}

#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91 {
  background: rgba(var(--accent), 1);
  transition: box-shadow 0.2s ease;
}
#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.1);
}
#app-mount .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  border-color: var(--text-normal);
  color: var(--text-normal);
}
#app-mount .button-1EGGcP.buttonColor-3bP3fX {
  background: var(--background-light);
}
#app-mount .button-1EGGcP.buttonColor-3bP3fX:hover {
  background: rgba(var(--accent), 1);
  color: #fff;
}

#app-mount .input-2g-os5 {
  background: var(--background-dark);
  border: 1px solid var(--background-dark);
  border-radius: var(--border-radius);
}
#app-mount .input-2g-os5:hover {
  border-color: var(--background-light);
}
#app-mount .input-2g-os5:focus {
  border-color: rgba(var(--accent), 1);
}

#app-mount .css-gvi9bl-control,
#app-mount .css-17e1tep-control,
#app-mount .select-2fjwPw {
  background: var(--background);
  border-radius: var(--border-radius);
  border-color: var(--background);
  cursor: pointer;
}
#app-mount .css-gvi9bl-control:hover,
#app-mount .css-17e1tep-control:hover,
#app-mount .select-2fjwPw:hover {
  border-color: var(--background-light);
}
#app-mount .css-6fzn47-control {
  background: var(--background);
  border-radius: var(--border-radius);
  border-color: rgba(var(--accent), 1);
}
#app-mount .popout-1KHNAq {
  background: var(--background-dark);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding-right: 0;
}
#app-mount .popout-1KHNAq::-webkit-scrollbar {
  display: none;
}
#app-mount .option-2eIyOn:hover, #app-mount .option-2eIyOn:focus, #app-mount .option-2eIyOn.focused-1T6PE5 {
  background: var(--background-alt);
}
#app-mount .option-2eIyOn[aria-selected=true] {
  background: rgba(var(--accent), 1);
  color: #fff;
}
#app-mount .option-2eIyOn[aria-selected=true] .selectedIcon-19TbzU {
  color: #fff;
}

#app-mount [role=radiogroup] .item-2idW98 {
  background: var(--background-alt);
}
#app-mount [role=radiogroup] .item-2idW98:hover {
  background: var(--background-light);
}
#app-mount [role=radiogroup] .item-2idW98[aria-checked=true] .radioBar-3w9XY- {
  background: rgb(var(--accent));
  color: #fff;
}
#app-mount [role=radiogroup] .item-2idW98[aria-checked=true] .radioBar-3w9XY-[style*="--radio-bar-accent-color"] {
  background: var(--radio-bar-accent-color);
}
#app-mount [role=radiogroup] .item-2idW98[aria-checked=true] .radioIconForeground-2BMavi,
#app-mount [role=radiogroup] .item-2idW98[aria-checked=true] .colorStandard-21JIj7,
#app-mount [role=radiogroup] .item-2idW98[aria-checked=true] .colorHeaderSecondary-g5teka {
  color: #fff;
}
#app-mount .children-1xdcWE > .marginBottom40-fvAlAV .item-2idW98,
#app-mount .marginBottom20-315RVT .item-2idW98 {
  background: var(--background);
}
#app-mount .children-1xdcWE > .marginBottom40-fvAlAV .item-2idW98[aria-checked=true],
#app-mount .marginBottom20-315RVT .item-2idW98[aria-checked=true] {
  background: rgb(var(--accent));
  color: #fff;
}
#app-mount .children-1xdcWE > .marginBottom40-fvAlAV .item-2idW98[aria-checked=true] .radioIconForeground-2BMavi,
#app-mount .marginBottom20-315RVT .item-2idW98[aria-checked=true] .radioIconForeground-2BMavi {
  color: #fff;
}

#app-mount .barFill-2Bh7CX {
  background: rgba(var(--accent), 1);
}

#app-mount .checkboxWrapper-2fDzaA.checked-1pZh2h .checkbox-f1HnKB {
  border-color: rgba(var(--accent), 1) !important;
  background: rgba(var(--accent), 1) !important;
}
#app-mount .checkboxWrapper-2fDzaA.checked-1pZh2h .checkbox-f1HnKB path {
  fill: #fff !important;
}
#app-mount .checkboxWrapper-2fDzaA.row-31nALW {
  background: var(--background-light);
}
#app-mount .checkboxWrapper-2fDzaA.row-31nALW.checked-1pZh2h .checkbox-f1HnKB {
  background: rgba(var(--accent), 1) !important;
  border-color: rgba(var(--accent), 1) !important;
}
#app-mount [role=menuitemcheckbox][aria-checked=true] .checkbox-hADx5o {
  color: rgba(var(--accent), 1);
}
#app-mount [role=menuitemcheckbox][aria-checked=true]:hover .checkbox-hADx5o {
  color: #fff;
}
#app-mount [role=menuitemcheckbox][aria-checked=true]:hover .check-1JyqgN {
  color: rgba(var(--accent), 1);
}
#app-mount [role=menuitemradio][aria-checked=true] .radioSelection-1UHp0b {
  color: rgba(var(--accent), 1);
}
#app-mount [role=menuitemradio][aria-checked=true]:hover .radioSelection-1UHp0b {
  color: #fff;
}

#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) {
  background: var(--background);
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE > .marginBottom40-fvAlAV:not(.divider-3y7HAB) {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
  border: none;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE > .marginBottom40-fvAlAV:not(.divider-3y7HAB) .marginTop8-24uXGp {
  margin-top: 0;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE > .marginBottom20-315RVT:not(.title-3hptVQ) {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
  border: none;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE > [class*=marginBottom] .container-1zDvAE:last-child {
  margin-bottom: 0;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE > [class*=marginBottom] [class*=marginBottom] {
  padding: 0;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE > .divider-3wNib3 {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
  border: none;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .children-1xdcWE .children-1xdcWE .flex-2S1XBF.flex-3BkGQD {
  padding: 0 !important;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .divider-3y7HAB {
  display: none;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .formNotice-2nS8ey {
  padding: 0;
  background: transparent;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .card-16VQ8C {
  background: var(--background-light);
  border: none;
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .sidebarRegionScroller-FXiQOh {
  background: var(--background-dark);
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .contentRegionScroller-2_GT_N,
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .contentRegion-3HkfJJ {
  background: var(--background);
}
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) .elevationHigh-28Pty4 {
  background: var(--background-light) !important;
  box-shadow: var(--box-shadow);
}

#app-mount [aria-label=USER_SETTINGS] .accountProfileCard-lbN7n- {
  background: var(--background-alt);
}
#app-mount [aria-label=USER_SETTINGS] .background-3d_SjE,
#app-mount [aria-label=USER_SETTINGS] .fieldList-in8WkP {
  background: var(--background);
}

#app-mount [aria-label=USER_SETTINGS] .authedApp-1tw-eT {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  border: none;
}
#app-mount [aria-label=USER_SETTINGS] .accountBtnInner-3XK70s {
  background-color: var(--background-light);
}
#app-mount [aria-label=USER_SETTINGS] .connection-107AGH {
  background: var(--background-alt);
}
#app-mount [aria-label=USER_SETTINGS] .connectionHeader-2rV1ze {
  background: var(--background-light-alt);
}
#app-mount [aria-label=USER_SETTINGS] .integration-1f5IUi {
  background: var(--background);
}

#app-mount [aria-label=USER_SETTINGS] .accountList-305sx3 {
  background: var(--background-alt);
}

#app-mount [aria-label=GUILD_SETTINGS] .children-1xdcWE > .flex-1xMQg5.flex-3BkGQD {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
}
#app-mount [aria-label=GUILD_SETTINGS] .micTest-bjZA-b {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  padding: 16px;
  margin-top: 20px;
}
#app-mount [aria-label=GUILD_SETTINGS] .micTest-bjZA-b .marginTop8-24uXGp {
  margin-top: 0;
}
#app-mount [aria-label=GUILD_SETTINGS] .container-3NTP7o {
  width: 530px !important;
}
#app-mount [aria-label=GUILD_SETTINGS] .notches-2w7UZJ {
  background: none;
}

#app-mount [aria-label=USER_SETTINGS] .paymentPane-ut5qKZ {
  background: var(--background-alt);
}
#app-mount [aria-label=USER_SETTINGS] .paginator-1eqD2g {
  background: transparent;
}
#app-mount [aria-label=USER_SETTINGS] .bottomDivider-ZmTm-j {
  border: none;
}
#app-mount [aria-label=USER_SETTINGS] .bottomDivider-ZmTm-j::-webkit-scrollbar {
  display: none;
}
#app-mount [aria-label=USER_SETTINGS] .payment-2bOh4k {
  background: transparent;
}
#app-mount [aria-label=USER_SETTINGS] .payment-2bOh4k:hover {
  background: var(--background-light-alt);
}
#app-mount [aria-label=USER_SETTINGS] .payment-2bOh4k:not(.hoverablePayment-lE1s4t) {
  background: var(--background-light);
  padding-bottom: 20px;
}
#app-mount [aria-label=USER_SETTINGS] .expandedInfo-1W31i3 {
  background: var(--background-light-alt);
  margin: 0 20px;
}

#app-mount [aria-label=GUILD_SETTINGS] [data-list-id=audit-log] {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  margin-top: 20px;
}
#app-mount [aria-label=GUILD_SETTINGS] [data-list-id=audit-log] [role=listitem] {
  background: transparent;
}
#app-mount [aria-label=GUILD_SETTINGS] [data-list-id=audit-log] [role=listitem][aria-expanded=true] {
  background: var(--background-light);
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 {
  border: none;
  margin: 0;
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6 .divider-1pnAR2 {
  display: none;
}
#app-mount [aria-label=GUILD_SETTINGS] .auditLog-3jNbM6:hover {
  background: var(--background-light);
}
#app-mount [aria-label=GUILD_SETTINGS] .headerExpanded-CUEwZ5,
#app-mount [aria-label=GUILD_SETTINGS] .changeDetails-bk98pu {
  background: var(--background-light);
}

#app-mount .sidebar-3K3Z4C {
  border: none;
}
#app-mount .titleContainer-3fPic2 {
  background: var(--background);
  box-shadow: none;
}
#app-mount .header-JUTO-g {
  background: var(--background);
  box-shadow: none;
}
#app-mount .scroller-3_YDR2 {
  background: transparent;
}

#app-mount .tierBody-x9kBBp {
  background: var(--background-alt);
}
#app-mount .tierHeaderLocked-1a2opw {
  background: var(--background-light-alt);
}

#app-mount .featureCard-1RR4Tl {
  background: var(--background-alt);
}
#app-mount .featureIcon-3p1TC_ {
  background: var(--background-light);
}
#app-mount .upsellContainer-L9xv7w {
  background: var(--background-alt);
}
#app-mount .upsellFooter-ZYsio_ {
  background: var(--background-light-alt);
}
#app-mount .twoColumnFormSection-3aoF-Y {
  margin-top: 20px;
}
#app-mount .developerPortalCtaWrapper-2XNafh,
#app-mount .analyticsCard-qckucw {
  background: var(--background-alt);
}

#app-mount .bd-addon-card {
  background: var(--background-alt);
}
#app-mount .bd-addon-header {
  background-color: var(--background-light-alt);
}

#app-mount .modal-3O0aXp,
#app-mount .root-g14mjS {
  background: var(--background);
  box-shadow: var(--box-shadow);
}
#app-mount .header-1zd7se {
  box-shadow: none;
}
#app-mount .footer-31IekZ {
  background: var(--background-alt);
  box-shadow: none;
}

#app-mount .quickswitcher-pKcM9U {
  background: var(--background);
}
#app-mount .scroller-2qwVWY {
  background: transparent;
}
#app-mount .input-3r5zZY {
  background: var(--background-light);
  box-shadow: var(--box-shadow);
  padding: 0 24px;
}

#app-mount .root-8LYsGj .size12-oc4dx4,
#app-mount .root-8LYsGj .activityName-3YXl6e,
#app-mount .root-8LYsGj .nameNormal-2fPMD2,
#app-mount .root-8LYsGj .nameWrap-3TyM52 {
  color: var(--text-normal);
}
#app-mount .root-8LYsGj .topSection-13QKHs {
  background: var(--background-alt);
}
#app-mount .root-8LYsGj .headerFill-adLl4x {
  background: transparent;
}
#app-mount .root-8LYsGj .tabBarContainer-sCZC4w {
  border: none;
}
#app-mount .root-8LYsGj .avatar-3QF_VA {
  border-color: var(--background-alt);
  background: var(--background-alt);
}
#app-mount .root-8LYsGj .tabBarItem-1b8RUP {
  color: var(--text-normal);
}
#app-mount .root-8LYsGj .tabBarItem-1b8RUP[style*="255, 255, 255"] {
  color: var(--text-focus) !important;
  border-color: var(--text-focus) !important;
}
#app-mount .root-8LYsGj .userInfoSection-2u2hir {
  border: none;
}
#app-mount .root-8LYsGj .connectedAccounts-1YaT2t {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
#app-mount .root-8LYsGj .connectedAccount-1xKpli {
  background: var(--background-alt);
  border-radius: var(--border-radius);
  border: none;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
#app-mount .root-8LYsGj .body-1Ukv50 {
  background: var(--background);
  height: 320px;
  border: none;
}
#app-mount .root-8LYsGj .note-3M15gE {
  margin: 0;
}
#app-mount .root-8LYsGj textarea {
  padding: 8px;
  height: auto !important;
}
#app-mount .root-8LYsGj[style*="--user-background"] .banner-1YaD3N:not(.bannerPremium-kkSkPv) {
  height: 240px;
  background: var(--user-background) center/cover;
}

#app-mount .modalTextContainer-1FUO2W {
  background: var(--background-dark);
  border: none;
}

#app-mount .colorHeaderPrimary-jN_yGr {
  color: var(--text-focus);
}
#app-mount .colorHeaderSecondary-g5teka {
  color: var(--text-normal);
}
#app-mount .container-x8Y1ix {
  border-radius: var(--border-radius);
  background: var(--background-alt);
}
#app-mount .container-x8Y1ix:hover {
  background: var(--background-light-alt);
}
#app-mount .backButton-2Ps-B8 {
  color: var(--text-muted);
}
#app-mount .backButton-2Ps-B8:hover {
  color: var(--text-normal);
}

#app-mount .uploadModal-2ie9O_ {
  background: var(--background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
#app-mount .uploadModal-2ie9O_ .footer-VCsJQY {
  background: var(--background-alt);
  box-shadow: none;
}
#app-mount .uploadModal-2ie9O_ .slateTextArea-27tjG0 {
  padding-left: 15px;
}

#app-mount .message-G6O-Wv {
  background: var(--background-alt);
  box-shadow: none;
}
#app-mount .message-G6O-Wv .cozy-VmLDNB {
  margin: 0 !important;
}

#app-mount .container-2AOBgv,
#app-mount .container-2Hi7Km,
#app-mount .container-xwOzwi,
#app-mount .card-3x20HF {
  background-color: var(--background-light);
  border: none;
  box-shadow: var(--box-shadow);
}

#app-mount .icon-2IDTxf {
  border-top: 4px solid var(--background-light);
  border-right: 4px solid var(--background-light);
  border-left: 4px solid var(--background-light);
}

#app-mount .container-3HMTms {
  background-color: var(--background-alt);
  border: none;
}

#app-mount .perksModal-CLcR1c {
  background-image: url(/assets/a49aa0af67106dfc5fed4d6ebfa011c9.svg);
  background-color: var(--background-alt);
}

#app-mount .ctaBar-Nhk8yY {
  background-image: url(/assets/94ff6fdc535b6ecb7b1bc54f2dd56a10.svg);
  background-color: var(--background-light);
}

#app-mount .tierHeader-wgo0w_,
#app-mount .barBackground-unEPDT {
  background: var(--background-dark);
}

#app-mount .tierBody-3ju-rc,
#app-mount .perk-19D_HN,
#app-mount .tierMarkerBackground-G8FoN4 {
  background: var(--background-light);
}


/* User Settings */
#app-mount .sidebarRegion-1VBisG,
#app-mount .sidebarRegionScroller-FXiQOh{
  background: var(--background-dark) !important;
}

#app-mount .contentRegionScroller-2_GT_N {
  background: var(--background-alt) !important;
}

#app-mount .userInfo-regn9W,
#app-mount .accountProfileCard-lbN7n-,
#app-mount .profileBannerPreview-3mLIdO,
#app-mount .connectionHeader-Ixbb1s,
#app-mount .cameraWrapper-3a7Ngv {
  background: var(--background-dark);
}

#app-mount .background-3d_SjE,
#app-mount .fieldList-in8WkP,
#app-mount .connectionOptionsWrapper-3aVWcp,
#app-mount .container-1zDvAE,
#app-mount .feature-2IUcBI,
#app-mount .card-2xlCYc,
#app-mount .card-16VQ8C,
#app-mount .container-1zDvAE,
#app-mount .previewMessage-2g_aBv {
  background: var(--background-light);
}

#app-mount .container-1zDvAE {
  padding: 10px;
}

#app-mount div.marginBottom40-fvAlAV:not(.divider-_0um2u),
#app-mount div.authedApp-8q3NA9,
#app-mount .accountList-Wii_T5 {
  background: var(--background-light) !important;
}

#app-mount .background-3d_SjE {
  margin-top: 25px;
}

#app-mount .textAreaWithoutAttachmentButton-1as0NS {
  padding-left: 15px;
}

#app-mount .formNotice-2nS8ey {
  padding: 20px;
}

/* Pinned Messages */
#app-mount .footer-5ji8u1 {
  background: var(--background-alt);
}

/* Inbox */
#app-mount .scroller-145h9c {
  background: var(--background-alt);
}

#app-mount .channelHeader-DFRX8q {
  background: var(--background-dark);
}

#app-mount .messages-23can0 {
  background: var(--background-light);
}

/* Students Hubs */
#app-mount .scroller-RfJjkV {
  background: var(--background);
}

#app-mount .scroller-RfJjkV .container-1wv6C6 {
  background: var(--background-alt);
}

#app-mount .footerDescription-3D1fe9 {
  padding-bottom: 50px;
}

/* --- Forums --- */
/* Background*/
#app-mount .list-3FIpnh {
  background-color: var(--background);
}

/* Post */
#app-mount .list-3FIpnh .container-2qVG6q {
  background-color: var(--background-light);
}

/* Text */
#app-mount .list-3FIpnh .container-2qVG6q .body-hCVwsC .messageContent-1SOr75 {
  color: var(--text-normal) !important;
}

/* Title and Author */
.headerText-3MQ6n4, .username-u-ebrn:not([style]) {
  color: var(--text-focus) !important;
}

.header-1Uy0p6 {
  background-color: var(--background-light) !important;
}
 
#app-mount .list-3FIpnh .mainCard-3KBsBI .container-JhuCwn, .collapsed-23aTv6 {
  background-color: var(--background-light) !important;
  border-radius: 12px;
}

#app-mount .list-3FIpnh .mainCard-3KBsBI .container-JhuCwn .collapsed-23aTv6:active {
  background-color: var(--background-light) !important;
  border-radius: 12px 12px 0 0;
}

#app-mount .list-3FIpnh .mainCard-3KBsBI .textArea-3WXAeD {
  background-color: var(--background-light) !important;
  border: none;
}

.matchingPostsRow-2IiEQ1 {
  background-color: var(--background-dark) !important;
}

/* -- Muted Posts -- */

/* Title */
.headerText-3MQ6n4[style*="color: var(--text-muted)"], .username-u-ebrn:not([style]), 
#app-mount .list-3FIpnh .container-2qVG6q .body-hCVwsC .text-sm-semibold-3TWn25[style*="color: var(--text-muted)"] .messageContent-1SOr75 {
  color: rgba(149, 163, 175, 0.75) !important;
}

/* Author */
.message-1zs6Od span[class*="hasUnreads-3kKLnS"] .username-u-ebrn:not([style]) {
  color: var(--text-focus) !important;
}

/* -- Post thread -- */
/* Background */
.chat-25x62K .chatContent-3KubbW {
  background-color: var(--background) !important;
}
/* Message */
.chat-25x62K .chatContent-3KubbW .messagesWrapper-RpOMA3 .message-2CShn3 { 
  background-color: var(--background-light) !important;
  border-radius: var(--message-border-radius, var(--border-radius)) !important;
}

/* Post Container Background and Divider Background */
.chat-25x62K .chatContent-3KubbW .messagesWrapper-RpOMA3 .container-3YcgdM,
.chat-25x62K .chatContent-3KubbW .messagesWrapper-RpOMA3 .divider-AZrXIA {
  background-color: var(--background-alt) !important;
}
/* Post Container (React, Follow...) */
.chat-25x62K .chatContent-3KubbW .messagesWrapper-RpOMA3 .container-3YcgdM {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
